#videoDownloadDropdown{
    position: absolute;
    border: 1px solid #ddd;
    width: 200px;
    background: #fff;
    margin-left: 316px;
    margin-top: 45px;
    z-index: 99999;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    display: none;
}
#videoDownloadDropdown.shown{
    display: block;
}

#videoDownloadDropdown ul{
  margin: 0;
  padding: 5px;
}

#videoDownloadDropdown a{
  display:block;
  padding: 5px;
  color: #444;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
}

#videoDownloadDropdown a:hover{
  background:#eee;
}

.custom-class {
    color: #fff;
    background: #238247;
    border: none;
    padding: 10px;
    position:  absolute;
    left: 30%;
}
